.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-size: 26px;
  font-weight: 600;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
